.*
!.editorconfig
!.git*

*build*/
*.tmp

*.patch
*.orig
*.rej

*.d
*.gch
*.pch
*.o
*.obj
*.so
*.dylib
*.dll
*.a
*.lib
*.out
*.exe

__pycache__/
*.pyc
*.pyd
*.pyo

CMakeFiles/
Testing/
CMakeCache.txt
CTestTestfile.cmake
cmake_install.cmake
install_manifest.txt
compile_commands.json
